<!-- Top Bar -->
<div class="contain-to-grid fixed">    
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">Twitter Clone</a>
        </h1>
      </li>
    </ul>
  </nav>
</div>
<!-- End Top Bar -->